.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/lp.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  button {
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: #388e3c;
  }
  
  .game-console {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .gamepad {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .game-controller {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .game-monitor {
    width: 300px;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  